/* General Text Styling */

body {
    font-family: "Red Hat Text";
}

h5 {
    font-family: "Red Hat Mono";
    letter-spacing: 0.1em;
}

img {
    max-width: 115%;
    height: auto;
}

.Heading {
   text-align: center; 
}

.Subheading {
    margin-bottom: 1em;
}


/* Title */

#Title-HeadingOne {
    margin-top: 2.5em;
}

#Title-HeadingTwo {
    margin-top: -5.75em;
}

/* Introduction */

#Introduction-Subheading {
    margin-top: 4em;

}

#Introduction-Img {
    position: absolute;
    z-index: -1;
}

/* Table of Contents */

#TOC-Heading {
    margin-top: 4em;
    margin-bottom: 2.5em;
}

#TOC-Img {
    margin: auto;
}

#TOC-Subheading {
    margin-top: 2em;

}

/* Footer */